<!DOCTYPE html>
<html>
  <head>
    <title>Final Project Html</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

<a href="/">Home</a> |
<a href="/clients">Client List</a> |
<a href="/engagements">Engagement List</a> |
<a href="/internal_tasks">Task List</a> |
<a href="/edit_user_profile">Edit Profile</a> |
<a href="/user_sign_out">Sign Out</a> |
<hr>
  <body>
    <%= yield %>
  </body>
</html>
